@model IEnumerable<Lib1.Models.Rental>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<h1>Inlämnings status</h1>

<table class="table" style="background-color:white;">
    <thead class="thead-dark">
        <tr>
            <th>
                Boktitel
            </th>
           
            <th>
                Medlem
            </th>

            <th>
                Telefon
            </th>

            <th>
                Inlämningsdatum
            </th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Inventory.Book.Title</td>
                <td>@item.Member.FirstName</td>
                <td>@item.Member.Phonenumber</td>
                <td>@item.ReturnDate</td>


            </tr>
        }
    </tbody>

</table>
